<div class="list-group-item p-3 border-bottom-0 border-top-0">
    <div class="row align-items-center">
        <!-- Left user -->
        <div class="col-5 d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <span style="font-size: 1.5em;">
                    {{#if (eq game.winnerId profile.id)}}
                    {{userFlag game.winnerCountry}}
                    {{else}}
                    {{userFlag game.loserCountry}}
                    {{/if}}
                </span>
                <h5 class="mb-0 ms-2">
                    <a href="/profile/{{profile.id}}"
                        style="color: {{userColor profile.username}};">{{profile.username}}</a>
                </h5>
            </div>
            <div class="text-end">
                <span class="text-muted">
                    {{#if (eq game.winnerId profile.id)}}
                    {{game.winnerNewRating}}
                    {{else}}
                    {{game.loserNewRating}}
                    {{/if}}
                </span>
                {{#if game.isRated}}
                <span
                    class="text-{{#if (eq game.winnerId profile.id)}}success-emphasis{{else}}danger-emphasis{{/if}} small ms-1">
                    ({{#if (eq game.winnerId profile.id)}}+{{game.ratingGained}}{{else}}-{{game.ratingLost}}{{/if}})
                </span>
                {{/if}}
            </div>
        </div>
        <!-- Score -->
        <div class="col-2 text-center">
            <h4 class="mb-0">
                {{#if (eq game.winnerId profile.id)}}
                {{game.winnerScore}} - {{game.loserScore}}
                {{else}}
                {{game.loserScore}} - {{game.winnerScore}}
                {{/if}}
            </h4>
        </div>
        <!-- Right user -->
        <div class="col-5 d-flex justify-content-between align-items-center">
            <div class="text-start">
                <span class="text-muted">
                    {{#if (eq game.winnerId profile.id)}}
                    {{game.loserNewRating}}
                    {{else}}
                    {{game.winnerNewRating}}
                    {{/if}}
                </span>
                {{#if game.isRated}}
                <span
                    class="text-{{#if (eq game.winnerId profile.id)}}danger-emphasis{{else}}success-emphasis{{/if}} small ms-1">
                    ({{#if (eq game.winnerId profile.id)}}-{{game.ratingLost}}{{else}}+{{game.ratingGained}}{{/if}})
                </span>
                {{/if}}
            </div>
            <div class="d-flex align-items-center">
                <h5 class="mb-0 me-2">
                    <a href="/profile/{{#if (eq game.winnerId profile.id)}}{{game.loserId}}{{else}}{{game.winnerId}}{{/if}}"
                        style="color: {{#if (eq game.winnerId profile.id)}}{{userColor game.loserUsername}}{{else}}{{userColor game.winnerUsername}}{{/if}};">
                        {{#if (eq game.winnerId profile.id)}}
                        {{game.loserUsername}}
                        {{else}}
                        {{game.winnerUsername}}
                        {{/if}}
                    </a>
                </h5>
                <span style="font-size: 1.5em;">
                    {{#if (eq game.winnerId profile.id)}}
                    {{userFlag game.loserCountry}}
                    {{else}}
                    {{userFlag game.winnerCountry}}
                    {{/if}}
                </span>
            </div>
        </div>
    </div>
</div>
<div
    class="list-group-item border {{#if (eq game.winnerId profile.id)}}list-group-item-success{{else}}list-group-item-danger{{/if}} d-flex justify-content-between align-items-center py-2 {{#if @last}}rounded-bottom{{/if}}{{#if single}}rounded-bottom{{/if}}">
    <small>{{translateWinReason game.winReason (eq game.winnerId profile.id)}}</small>
    <small>{{timeAgo game.createdAt}}</small>
</div>