<div class="list-group-item p-3 border-bottom-0 border-top-0">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <h5 class="mb-0 mr-2">
                <a href="/profile/{{profile.id}}">{{profile.username}}</a>
            </h5>
            <span class="text-muted">({{#if (eq game.winnerId
                profile.id)}}{{game.winnerNewRating}}{{else}}{{game.loserNewRating}}{{/if}})</span>
        </div>
        <div class="d-flex align-items-center">
            <h4 class="mb-0 mx-3">
                {{#if (eq game.winnerId profile.id)}}
                {{game.winnerScore}} - {{game.loserScore}}
                {{else}}
                {{game.loserScore}} - {{game.winnerScore}}
                {{/if}}
            </h4>
            <span class="text-{{#if (eq game.winnerId profile.id)}}success{{else}}danger{{/if}} mx-2">
                {{#if (eq game.winnerId profile.id)}}
                +{{game.ratingGained}}
                {{else}}
                -{{game.ratingLost}}
                {{/if}}
            </span>
        </div>
        <div class="d-flex align-items-center">
            <h5 class="mb-0 mr-2">
                <a
                    href="/profile/{{#if (eq game.winnerId profile.id)}}{{game.loserId}}{{else}}{{game.winnerId}}{{/if}}">
                    {{#if (eq game.winnerId profile.id)}}
                    {{game.loserUsername}}
                    {{else}}
                    {{game.winnerUsername}}
                    {{/if}}
                </a>
            </h5>
            <span class="text-muted">({{#if (eq game.winnerId
                profile.id)}}{{game.loserNewRating}}{{else}}{{game.winnerNewRating}}{{/if}})</span>
        </div>
    </div>
</div>
<div
    class="list-group-item border {{#if (eq game.winnerId profile.id)}}list-group-item-success{{else}}list-group-item-danger{{/if}} d-flex justify-content-between align-items-center py-2">
    <small>{{translateWinReason game.winReason (eq game.winnerId profile.id)}}</small>
    <small>{{timeAgo game.time}}</small>
</div>

<style>
    .list-group-item a {
        text-decoration: none;
    }

    .list-group-item a:hover {
        text-decoration: underline;
    }
</style>