<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>

    {{> meta}}

    <title>Dashboard | Eight Ball</title>

    {{> css}}

</head>

<body>

    {{> navbar}}

    <div class="container">
        {{> flash}}

        <div class="jumbotron d-flex flex-lg-row flex-column justify-content-sm-between align-items-center">
            <h1 class="display-1 text-truncate mw-100">{{user.username}}</h1>
            <h1 class="display-3 text-muted"><span class="badge badge-secondary">{{user.wins}}W -
                    {{user.losses}}L</span></h1>
        </div>

        <div class="row">
            <div class="col-md d-grid gap-2">
                <button class="btn btn-primary" type="button" onclick="window.location.href='play'">
                    <h3>Play</h3>
                </button>

                <ul class="list-group mt-4">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Players Online:
                        <span class="badge badge-info badge-pill">{{playersOnline}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Players in Queue:
                        <span class="badge badge-info badge-pill">{{playersInQueue}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Games in Progress:
                        <span class="badge badge-info badge-pill">{{gamesInProgress}}</span>
                    </li>
                </ul>
            </div>
            <div class="col-md d-grid gap-2">
                <button class="btn btn-secondary btn-lg" type="button" onclick="window.location.href='profile'">
                    <h3>Profile</h3>
                </button>

                {{#if game}}
                <div class="card mt-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span>Last Played Game</span>
                        <span>{{game.time}}</span>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="/profile/{{game.winnerId}}"
                                class="h5 mb-0 text-body win-text">{{game.winnerUsername}}</a>
                            <a href="/profile/{{game.loserId}}"
                                class="h5 mb-0 text-body lose-text">{{game.loserUsername}}</a>
                        </div>
                        <div class="d-flex justify-content-between align-items-top">
                            <span class="text-muted">#{{game.winnerId}}</span>
                            <h2 class="">{{game.winnerScore}} - {{game.loserScore}}</h2>
                            <span class="text-muted">#{{game.loserId}}</span>
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="text-center border rounded px-3 py-5 mt-4">
                    <p>You have not played any games yet.</p>
                    <a href="/play">Play a game now</a>
                </div>
                {{/if}}
            </div>
        </div>

    </div>

    {{> js}}

</body>

</html>