<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    {{> meta}}
    <title>Dashboard | Eight Ball</title>
    {{> css}}
</head>

<body>
    {{> navbar}}

    <div class="container">
        {{> flash}}

        <div class="jumbotron mb-0 d-flex flex-lg-row flex-column justify-content-sm-between align-items-center">
            <h1 class="display-1 text-truncate mw-100 {{userColor user.id}}">{{user.username}}</h1>
        </div>

        <div class="row mt-0">
            <div class="col-md-5 col-lg-4">
                <div class="sticky-top pt-4">
                    <div class="list-group">
                        <div
                            class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                            <span class="h5 mb-0 rank-text {{getRankColor user.rating}}">{{getRank
                                user.rating}} ({{user.rating}})</span>
                        </div>
                        <button class="list-group-item list-group-item-action list-group-item-primary" type="button"
                            onclick="window.location.href='play'">
                            Play
                        </button>
                        <button class="list-group-item list-group-item-action list-group-item-info" type="button"
                            onclick="window.location.href='profile'">
                            View profile
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-7 col-lg-8">
                <div class="list-group mt-4">
                    <div class="list-group-item list-group-item-secondary">
                        <h5 class="mb-0">Online</h5>
                    </div>
                    <div class="list-group-item d-flex justify-content-between align-items-center">
                        Players Online:
                        <span class="badge bg-info rounded-pill">{{playersOnline}}</span>
                    </div>
                    <div class="list-group-item d-flex justify-content-between align-items-center">
                        Players in Queue:
                        <span class="badge bg-info rounded-pill">{{playersInQueue}}</span>
                    </div>
                    <div class="list-group-item d-flex justify-content-between align-items-center">
                        Games in Progress:
                        <span class="badge bg-info rounded-pill">{{gamesInProgress}}</span>
                    </div>
                </div>

                {{#if game}}
                <div class="list-group mt-4">
                    <div class="list-group-item list-group-item-secondary">
                        <h5 class="mb-0">Last game</h5>
                    </div>
                    <div class="list-group-item p-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <h5 class="mb-0 mr-2">
                                    <a href="/profile/{{game.winnerId}}"
                                        class="{{userColor game.winnerId}}">{{game.winnerUsername}}</a>
                                </h5>
                                <span class="text-muted">({{game.winnerNewRating}})</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <h4 class="mb-0 mx-3">{{game.winnerScore}} - {{game.loserScore}}</h4>
                            </div>
                            <div class="d-flex align-items-center">
                                <h5 class="mb-0 mr-2">
                                    <a href="/profile/{{game.loserId}}"
                                        class="{{userColor game.loserId}}">{{game.loserUsername}}</a>
                                </h5>
                                <span class="text-muted">({{game.loserNewRating}})</span>
                            </div>
                        </div>
                    </div>
                    <div
                        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center py-2">
                        <small>{{translateWinReason game.winReason}}</small>
                        <small>{{timeAgo game.time}}</small>
                    </div>
                </div>
                {{else}}
                <div class="list-group mt-4">
                    <div class="list-group-item list-group-item-secondary">
                        <h5 class="mb-0">Recent Games</h5>
                    </div>
                    <div class="list-group-item text-center py-4">
                        <p class="mb-0">You have not played any games yet.</p>
                        <a href="/play" class="btn btn-primary mt-2">Play a game now</a>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>

    {{> js}}
</body>

</html>