<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>

    {{> meta}}

    <title>{{profile.username}} | Eight Ball</title>

    {{> css}}

</head>

<body>

    {{> navbar active_profile=true}}

    <div class="container">
        {{> flash}}

        <div class="jumbotron mb-0 d-flex flex-lg-row flex-column justify-content-sm-between align-items-center">
            <h1 class="display-1 text-truncate mw-100 {{userColor profile.id}}">{{profile.username}}</h1>
            <h1 class="display-3 text-muted"><span class="badge badge-secondary">{{profile.wins}}W -
                    {{profile.losses}}L</span></h1>
        </div>

        <div class="row mt-0">

            <div class="col-md-5 col-lg-4">

                <div class="sticky-top pt-4">
                    <div class="list-group">
                        <div
                            class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                            <span class="h5 mb-0 rank-text {{getRankColor profile.rating}}">{{getRank
                                profile.rating}}</span>
                        </div>
                        <div class="list-group-item">Rating: {{profile.rating}}</div>
                        <div class="list-group-item">Games Played: {{gamesPlayed}}<br>Winrate: {{winRate}}</div>
                        {{#if selfProfile}}
                        <button type="button" data-toggle="modal" data-target="#deleteProfile"
                            class="list-group-item list-group-item-action list-group-item-danger">Delete
                            Profile</button>
                        {{/if}}
                    </div>
                </div>

            </div>

            <div class="col-md-7 col-lg-8">
                <div class="list-group mt-4">
                    <div class="list-group-item list-group-item-secondary">
                        <h5 class="mb-0">Recent Games</h5>
                    </div>
                    {{#each games}}
                    <div class="list-group-item p-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <h5 class="mb-0 mr-2">
                                    <a href="/profile/{{../profile.id}}"
                                        class="{{userColor ../profile.id}}">{{../profile.username}}</a>
                                </h5>
                                <span class="text-muted">({{#if (eq this.winnerId
                                    ../profile.id)}}{{this.winnerNewRating}}{{else}}{{this.loserNewRating}}{{/if}})</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <h4 class="mb-0 mx-3">
                                    {{#if (eq this.winnerId ../profile.id)}}
                                    {{this.winnerScore}} - {{this.loserScore}}
                                    {{else}}
                                    {{this.loserScore}} - {{this.winnerScore}}
                                    {{/if}}
                                </h4>
                                <span
                                    class="text-{{#if (eq this.winnerId ../profile.id)}}success{{else}}danger{{/if}} mx-2">
                                    {{#if (eq this.winnerId ../profile.id)}}
                                    +{{this.ratingGained}}
                                    {{else}}
                                    -{{this.ratingLost}}
                                    {{/if}}
                                </span>
                            </div>
                            <div class="d-flex align-items-center">
                                <h5 class="mb-0 mr-2">
                                    <a href="/profile/{{#if (eq this.winnerId ../profile.id)}}{{this.loserId}}{{else}}{{this.winnerId}}{{/if}}"
                                        class="{{#if (eq this.winnerId ../profile.id)}}{{userColor this.loserId}}{{else}}{{userColor this.winnerId}}{{/if}}">
                                        {{#if (eq this.winnerId ../profile.id)}}
                                        {{this.loserUsername}}
                                        {{else}}
                                        {{this.winnerUsername}}
                                        {{/if}}
                                    </a>
                                </h5>
                                <span class="text-muted">({{#if (eq this.winnerId
                                    ../profile.id)}}{{this.loserNewRating}}{{else}}{{this.winnerNewRating}}{{/if}})</span>
                            </div>
                        </div>
                    </div>
                    <div
                        class="list-group-item list-group-item-action {{#if (eq this.winnerId ../profile.id)}}list-group-item-success{{else}}list-group-item-danger{{/if}} d-flex justify-content-between align-items-center py-2">
                        <small>{{translateWinReason this.winReason (eq this.winnerId ../profile.id)}}</small>
                        <small>{{timeAgo this.time}}</small>
                    </div>
                    {{else}}
                    <div class="list-group-item text-center py-4">
                        <p class="mb-0">{{#if selfProfile}}You have{{else}}{{profile.username}} has{{/if}} not played
                            any games yet.</p>
                        <a href="/play" class="btn btn-primary mt-2">Play a game now</a>
                    </div>
                    {{/each}}
                </div>

                <style>
                    .list-group-item a {
                        text-decoration: none;
                    }

                    .list-group-item a:hover {
                        text-decoration: underline;
                    }
                </style>
            </div>

        </div>

    </div>

    {{#if selfProfile}}
    <div class="modal fade" id="deleteProfile" tabindex="-1" role="dialog" aria-labelledby="deleteProfileLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form action="/delete/" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteProfileLabel">Delete Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <p class="text-danger">Are you sure you want to delete your profile?</p>
                        <input type="password" name="password" placeholder="Password" class="form-control" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete Profile</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{/if}}

    {{> js}}

</body>

</html>